.top{
    text-align: center;
    background-color:#008080 ;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    img{
        height: 50px;
    }

}
//#5e08c0